/* registrarse.css */

@font-face{
    font-family: 'Oswald';
    src: url('fonts/Oswald-Light.ttf');
}

@font-face{
    font-family: 'Rubik';
    src: url('fonts/Rubik-Light.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav */

.nav{
    display: flex;
    height: 15vh;
    background-color: rgb(0, 87, 9);
    width: 100%;
    position: sticky;
    top: 0;
}

.nav > a{
    display: flex;
    color: white;
    font-family: 'Oswald';
    width: 30%;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    text-decoration: none;
    background-color: rgb(0, 50, 9);
}

.nav button{
    display: none;
}

.nav ul{
    width: 70%;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
}

.nav ul li{
    display: flex;
    height: 100%;
    align-items: center;
}

.nav ul li a{
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Rubik';
    font-size: 22px;
    padding: 0px 20px;
    
}

.nav ul li a:hover{
    background-color: rgb(0, 50, 9);
}

/* Section */

.section{
    width: 100%;
    background-color: white;
}

.section h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: rgb(0, 50, 9);
    width: 100%;
    color: white;
    font-family: 'Rubik';
    font-size: 32px;
}

.grilla-de-datos{
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    border-top: thin solid white;
    border-bottom: thin solid white;
    background-color: rgb(0, 50, 9);
    padding: 30px 0px;

}

.grilla-de-datos div{
    justify-self: flex-end;
    width: 70%;
    display: grid;
    grid-template-columns: 40% 60%;
}

.grilla-de-datos div div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.grilla-de-datos div div input{
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(0, 87, 9);
    border: 0;
    color: white;
    font-family: 'Rubik';
}

.grilla-de-datos div span{
    color: white;
    font-family: 'Rubik';
    font-size: 22px;
    padding-bottom: 10px;
}

/* Footer */

.footer{
    width: 100%;
    height: 30vh;
}

.footer > div{
    display: flex;
    width: 100%;
    height: 100%;
}

.footer-imagen{
    display: flex;
    justify-content: center;
    width: 30%;    
}

.footer-imagen a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Rubik';
    font-size: 30px;
}

.footer-imagen a span{
    color: white;
    background-color: rgb(0, 87, 9);
    clip-path: circle(11px);
}

.footer-imagen img{
    width: 50%;
    height: 90%;
}

.footer-lista{
    display: block;
    width: 70%;
    background-color: rgb(0, 87, 9);
}

.footer-enlaces{
    list-style-type: none;
    display: flex;
    height: 50%;
    border-bottom: thin solid white;
}

.footer-enlaces li{
    display: flex;
}

.footer-enlaces li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Rubik';
    padding: 20px;
}

.footer-lista h3{
    display: flex;
    height: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0px 20px;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: lighter;
}

